services:
  postgres:
    image: postgres:16
    container_name: backend_postgres
    restart: always
    environment:
      POSTGRES_DB: fyp_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
    ports:
      - "9876:5432"
    volumes:
      - ./docker/postgres-data:/var/lib/postgresql/data
      - ./docker/init:/docker-entrypoint-initdb.d

  pgadmin:
    image: dpage/pgadmin4
    container_name: backend_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres

  solana:
    image: solanalabs/solana:v1.18.26
    container_name: backend_solana
    restart: always
    command: >
      sh -c "solana-test-validator 
      --reset 
      --quiet 
      --ledger /ledger 
      --rpc-port 8899 
      --faucet-port 9900"
    ports:
      - "8899:8899"  # RPC
      - "8900:8900"  # WebSocket
      - "9900:9900"  # Faucet for SOL cryptocurrency
    volumes:
      - solana-ledger:/ledger
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8899/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  vault:
    image: hashicorp/vault:latest
    container_name: backend_hashicorp_vault
    ports:
      - "8200:8200"
    cap_add:
      - IPC_LOCK
    environment:
      - VAULT_ADDR=http://127.0.0.1:8200
    volumes:
      - ./docker/init/vault/init.sh:/vault-init.sh
      - ./docker/vault-data:/vault/file
      - ./docker/init/vault/config.hcl:/vault/config/vault.hcl
    command: >
      sh -c "vault server -config=/vault/config/vault.hcl & sh /vault-init.sh"

volumes:
  solana-ledger:
  vault-data: